---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/search-api-static-files/screening_list/json.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - FC13AF0EC5D57E72
      Last-Modified:
      - Wed, 29 Mar 2017 21:08:09 GMT
      Etag:
      - '"5ea5c2ab3b1bc53eedcc6592169f6da6"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "foo": {
            "bar": 2,
            "blat": "nope",
            "deep": {
              "nothing": 1,
              "here": 12.3
            }
          },
          "bsps": {
            "xml:lang": "en",
            "xmlns": "https://emenuapps.ita.doc.gov/tms/ns",
            "bsp": [
              {
                "site": "El Salvador",
                "pid": 8868,
                "url": "http://emenuapps.ita.doc.gov/bsp/elsalvador/en/bsp.xml"
              },
              {
                "site": "Egypt",
                "pid": 1223,
                "url": "http://emenuapps.ita.doc.gov/bsp/egypt/en/bsp.xml"
              },
              {
                "site": "United Kingdom",
                "pid": 5345,
                "url": "http://emenuapps.ita.doc.gov/bsp/uk/en/bsp.xml"
              }
            ]
          },
          "baz": {
            "one": 2,
            "two": "nope"
          }
        }
  recorded_at: Wed, 29 Mar 2017 21:27:18 GMT
recorded_with: VCR 3.0.3
