---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/search-api-static-files/screening_list/json_array.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - ED9F5F1B2470F2FB
      Last-Modified:
      - Wed, 29 Mar 2017 21:08:08 GMT
      Etag:
      - '"b26257d0489a204c90e0cffdfdc88d76"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "alpha2Code": "AX",
            "alpha3Code": "ALA",
            "altSpellings": [
              "AX",
              "Aaland",
              "Aland",
              "Ahvenanmaa"
            ],
            "area": 1580.0,
            "borders": [],
            "callingCodes": [
              "358"
            ],
            "capital": "Mariehamn",
            "currencies": [
              "EUR"
            ],
            "demonym": "\u00c5landish",
            "gini": null,
            "languages": [
              "sv"
            ],
            "latlng": [
              60.116667,
              19.9
            ],
            "name": "\u00c5land Islands",
            "nativeName": "\u00c5land",
            "population": 28875,
            "region": "Europe",
            "relevance": "0",
            "subregion": "Northern Europe",
            "timezones": null,
            "topLevelDomain": [
              ".ax"
            ],
            "translations": {
              "de": "\u00c5land",
              "es": "Alandia",
              "fr": "\u00c5land",
              "it": "Isole Aland",
              "ja": "\u30aa\u30fc\u30e9\u30f3\u30c9\u8af8\u5cf6"
            }
          },
          {
            "alpha2Code": "AD",
            "alpha3Code": "AND",
            "altSpellings": [
              "AD",
              "Principality of Andorra",
              "Principat d'Andorra"
            ],
            "area": 468.0,
            "borders": [
              "FRA",
              "ESP"
            ],
            "callingCodes": [
              "376"
            ],
            "capital": "Andorra la [...]
