---
http_interactions:
- request:
    method: get
    uri: https://s3.amazonaws.com/search-api-static-files/screening_list/posts.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 945CA95058978A4D
      Last-Modified:
      - Wed, 29 Mar 2017 21:08:09 GMT
      Etag:
      - '"54f67afc024232344912049311605426"'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <POSTLIST>
          <POSTINFO>
            <POST>Des Moines</POST>
            <POSTNAME>Des Moines</POSTNAME>
            <OFFICENAME>from XML</OFFICENAME>
            <ORGCODE>5507000508000000</ORGCODE>
            <CTRNUMBER>1421</CTRNUMBER>
            <COUNTRYID name="United States">840</COUNTRYID>
            <STATE name="Iowa">IA</STATE>
            <POSTTYPE>D</POSTTYPE>
            <TIMEZONE>20</TIMEZONE>
            <STATUS>1</STATUS>
            <URL>http://export.gov/iowa/index.asp</URL>
            <EMAIL>Patricia.Cook@trade.gov</EMAIL>
            <FAX>515-288-1437</FAX>
            <MAIL_INSTR/>
            <PHONE>515-284-4590</PHONE>
          </POSTINFO>
          <POSTINFO>
            <POST>Long Island</POST>
            <POSTNAME>Long Island</POSTNAME>
            <OFFICENAME>Long Island U.S. Export Assistance Center,"</OFFICENAME>
            <ORGCODE>5507000109000000</ORGCODE>
            <CTRNUMBER>1460</CTRNUMBER>
            <COUNTRYID name="United States">840</COUNTRYID>
            <STATE name="New York">NY</STATE>
            <POSTTYPE>D</POSTTYPE>
            <TIMEZONE>35</TIMEZONE>
        [...]
